.sidebar{
    /* width: 100%; */
    /* height: 80vh; */
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 1rem ;
    background-color: white;
    /* position: absolute; */
    top: 100%;
   
}

.sidebar .closeButton a{
    color: black;
    
}
.sidebar .desktop{
    flex-direction: column;
    list-style: none;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: flex-start; 
     align-items: flex-start; 

    
}
.desktop ul li a{
    color: black;
}
@media (max-width:768px)
{
    .sidebar{
        display: flex;
    }
}